html, body {
    font-family: 'Kumbh', 'Sans';
    font-size: 112.5%;
    margin: 0;
    padding: 0;
}

.top {
    position: absolute;
    top: -650px;
    left: -240px;
}

.bottom {
    position: absolute;
    bottom: -750px;
    right: -150px;
}

.card {
    display: flex;
    width: 270px;
    height: 300px;
    border-radius: .3rem;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url(images/bg-pattern-card.svg);
    background-size: 100% 40%;
    background-position: top;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    box-shadow: 2px 2px 2px hsl(229, 23%, 23%);
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    overlay: initial;
}

.profile {
    width: 70px;
    height: 70px;
    border: .3rem solid white;
    border-radius: 50%;
    margin-top: 80px;
    object-fit: cover;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
}

.identity {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}

.age {
    color: hsl(227, 10%, 46%);
}
p {
    margin: 0;
    font-size: 14px;
    color: hsl(227, 10%, 46%);
}

.line {
    margin-bottom: 10px;
    font-weight: lighter;
    color: hsl(227, 10%, 46%);
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
  
.stat {
    flex: 1;
}
  
.number, .name {
    font-size: 16px;
    font-weight: bold;
}
  
.text {
    font-size: 8px;
    color: hsl(227, 10%, 46%);
  }





