@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

nav{
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    border-radius: 5px;
    color: #8e44ad;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

nav label{
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}

nav label:last-child{
    margin: 0;
}

nav label:hover{
    background: rgba(142, 68, 173, 0.3);
}

nav label svg{
    width: 15px;
    height: 15px;
    padding-right: 4px;
    fill: currentColor;
}

nav .slider{
    position: absolute;
    height: 100%;
    width: 20%;
    background: #8e44ad;
    border-radius: 5px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input{
    display: none;
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
#about:checked ~ nav label.about{
    color: #fff;
}
#home:checked ~ nav .slider {
    left: 0;
}

#blog:checked ~ nav .slider{
    left: 20%;
}

#code:checked ~ nav .slider{
    left: 40%;
}

#help:checked ~ nav .slider{
    left: 60%;
}

#about:checked ~ nav .slider{
    left: 80%;
}