@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1abc9c;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    height: 325px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 25px #16a085;
}

h1{
    background: #16a085;
    color: #fff;
    width: 100%;
    padding: 13px 0;
    margin: 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.inputs{
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.email{
    margin-top: 20px;
    margin-bottom: 10px;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 39px;
    border-radius: 5px 0 0 5px;
    background: #16a085;
}
img{
    width: 40%;
    height: 40%;
    filter: brightness(0) invert(1);
}

input{
    width: 270px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 0 5px 5px 0;
    font-size: 15px;
}

input:hover {
    border: 1.5px solid #16a085;
}

input:focus {
    border: 1.5px solid #16a085;
    outline: none;
}

.password-recovery{
    margin: 10px 0 0 20px;
    font-size: 14px;
    
}

button{
    height: 40px;
    width: 325px;
    margin: 14px;
    border: none;
    border-radius: 5px;
    background: #16a085;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

button:hover{
    cursor: pointer;
    background: #12876f;
}

.lower-texts{
    margin: 0 60px;
    font-size: 16px;
}

span{
    font-weight: 400;
}

a{
    color: #16a085;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

