@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #EED891;
}


.container{
    position: relative;
    height: 320px;
    width: 620px;
    z-index: 100;
    perspective: 1000px;
}

.container .flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    background: #D48600;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
}

.container .flip-card:hover{
    transform: rotateY(180deg);
}

.flip-card .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #D48600;
    border-top: 2px solid #cc6600;
    border-left: 2px solid #cc6600;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
}

.front-card .circle{
    width: 110px;
    height: 110px;
    background: #D48600;
    border-radius: 50%;
    border: 10px solid #4D2600;
}

.front-card .triangle{
    position: relative;
    width: 0;
    height: 0;
    background: #D48600;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 110px solid #4D2600;
    margin-right: 16px;
}

.front-card .triangle::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    top: 20px;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 80px solid #D48600;
}

.front-card .square{
    width: 110px;
    height: 110px;
    background: #D48600;
    border: 10px solid #4D2600;
}

.back-card{
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.back-card .icon{
    width: 50px;
    height: 50px;
    padding: 5px;
    color: #4D2600;
    border-radius: 50%;
    border: 5px solid #4D2600;
    margin-right: 5px;
}

.back-card span{
    font-size: 25px;
    font-weight: 600;
    color: #4D2600;
    margin-left: 5px;
}